# GranSaga kr
host-suffix,npixel.co.kr,🎮Game
host-suffix,gransaga.com,🎮Game
## host,checkip.amazonaws.com,🎮Game
##host-suffix,logs.ironsrc.mobi,🎮Game
##host-suffix,supersonicads.com,🎮Game
##host-suffix,ssadscdn.cn,🎮Game



# LOL
host-suffix,riotcdn.net,🎮Game
host-suffix,riotgames.com,🎮Game
host-suffix,wr.pvp.net,🎮Game

